.Custom-col{
    padding-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}
.Welcome-string{
    font-size: 30px;
    font-weight: 700;
    font-family: "Times New Roman", sans-serif;
    text-align: center;
}
.Elements-after-welcome-container{
    width: 350px;
}
.Sentences-after-welcome{
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    max-width: min(400px, 80%);
    display: flex;
    justify-content: center;
}
.Vertical-line{
    border-left: 4px solid #000000;
    height: 250px;    width: 6px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.Logo-image{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
    max-width: 350px;
    height: auto;
    min-width: 200px;
}
.Container-for-button{
    display: flex;
    justify-content: center;
}
.Button-for-login{
    margin-top: 60px;
    border-radius: 6px;
    text-align: center;
    padding: 1px 1px 1px 1px;
    height: 50px;
    width: 360px;
    background-color: #38b6ff;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}
